/*************/
/* CSS Reset */
/*************/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/***********/
/* General */
/***********/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #F2A0CD;
}

img {
    width: 30%;
    border-radius: 1rem;
}

/********/
/* Page */
/********/

.page {
    background-color: #F2F2F2;
    margin: 1rem 10%;
    border-radius: 1rem;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content p, ul {
    width: 40%;
    text-align: justify;
}

.h2_title {
    margin: 0 0 1rem 1rem;
}

p {
    padding: 10px;
    margin-bottom: 10px;
}

/***************/
/* Navbar/Menu */
/***************/

.h1_title {
    margin-left: 1rem;
    font-size: xx-large;
    width: 20%; 
}

.navbar_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #F2CB05;
    padding: 1rem;
    border-radius: 0.5rem;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

.menu_item a {
    text-decoration: none;
    color: #F2F2F2;
    background-color: #403C01;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 0.5rem;
    font-size: medium;
}

.menu_item a:hover{
    background-color: #F2A0CD;
    color: #403C01;
}

/*********/
/* About */
/*********/

#about img {
    border-radius: 50%;
}

#about p {
    border-top: solid;
    border-right: solid;
    border-color: #F2CB05;
    border-top-right-radius: 0.5rem;
}

/***********/
/* History */
/***********/

.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content2 img {
    width: 70%;
}

.content2 p {
    width: 70%;
    text-align: justify;
    border-style: double;
    border-bottom: solid;
    border-right: solid;
    border-color: #F2CB05;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 20px;
}

/***************/
/* Curiosities */
/***************/

#curiosities .c-1 p {
    border-top: solid;
    border-right: solid;
    border-color: #F2CB05;
    border-top-right-radius: 0.5rem;
}

#curiosities .c-2 p {
    border-bottom: solid;
    border-left: solid;
    border-color: #F2CB05;
    border-bottom-left-radius: 0.5rem;
}

/***********/
/* Contact */
/***********/

.content ul {
    padding: 10px;
    border-bottom: solid;
    border-right: solid;
    border-color: #F2CB05;
    border-bottom-right-radius: 0.5rem;
}

.content ul li {
    padding: 2px 0;
}

.content ul p {
    width: 80%;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: end;
    justify-content: end;
}


/**********/
/* Footer */
/**********/

.footer {
    background-color: #F2E205;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 1rem;
    padding: 10px;
}

.footer p{
    margin-bottom: 0;
}

/**********************************/
/* Media Queries - Responsiveness */
/**********************************/

/*******************/
/*  Large devices  */
/*******************/

@media (max-width: 992px) {
    /* Nothing here, because this project was maked in desktop first design */
}

/********************/
/*  Medium devices  */
/********************/

@media (max-width: 800px) {
    /* Nothing here, because the page layout behaved well at this screen size */
}

/*******************/
/*  Small devices  */
/*******************/

@media (max-width: 500px) {

    /***********/
    /* General */
    /***********/

    img {
        width: 80%;
    }

    /********/
    /* Page */
    /********/

    .content {
        flex-wrap: wrap;
    }

    .content p, ul {
        width: 70%;
    }

    /***************/
    /* Navbar/Menu */
    /***************/

    .h1_title {
        width: 80%;
        text-align: center; 
        margin-left: 0;
    }
    
    .navbar_menu {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 0.5rem;
        padding-bottom: 0.2rem;
    }
    
    .menu {
        margin-top: 1rem;
        margin-bottom: 0;
        width: 90%;
        justify-content: space-between;
    }
    
    .menu_item {
        margin-bottom: 1rem;
    }

    /*********/
    /* About */
    /*********/

    #about p {
        border-top: none;
        border-right: none;
        border-left: solid;
        border-bottom: solid;
        border-bottom-left-radius: 0.5rem;
        border-color: #F2CB05;
    }

    /***************/
    /* Curiosities */
    /***************/

    #curiosities .c-1 p {
        border-top: none;
        border-right: solid;
        border-bottom: solid;
        border-color: #F2CB05;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.5rem;
    }
    
    #curiosities .c-2 p {
        border-bottom: none;
        border-left: solid;
        border-top: solid;
        border-color: #F2CB05;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.5rem;
        margin-bottom: 0;
    }

    /***********/
    /* Contact */
    /***********/

    #contact .h2_title, ul {
        margin-top: 0.7rem;
    }

    #contact ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contact ul li {
        width: 35%;
    }

    #contact ul #text {
        margin-top: 0.5rem;
        width: 100%;
        margin-right: 0;
    }
}
